*.log
*.xmsgs
fuseRelaunch.cmd
isim.cmd
par_usage_statistics.html
*.bit
*.cmd_log
*.lso
*.stx
*.vhi
*.xst
*_isim_beh.*
*_beh.prj
*.wdb
pepExtractor.prj
*.bgn
*.bld
*.drc
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.map
*.mrp
*.ngm
*.xrpt
*.mif
*_summary.html
*_summary.xml
*_usage.xml
*_webtalk.html
webtalk*
xilinxsim.ini
*_pad.csv
*_pad.txt
*.xwbt
*.gise
*.prj
*_envsettings.html
xst
xlnx_auto_0_xdb
isim
_ngo
_xmsgs
isim
iseconfig
